.sidebarChat {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.sidebarChat:hover {
    color:white;
    background-color: #3e93fd;
}

.sidebarChat:hover .sidebarChat-hover {
  display: inline-block;
}
.sidebarChat-hover {

  display: none;
}


.sidebarChat__info {
    margin-left: 15px;
    position: relative;
    width: 100%;

}

.sidebarChat__info > small {
    position: absolute;
    top:5px;
    right: 0;
}


.sidebarChat__delete {
    margin-left: 60px;
    background-image: url("../images/icons8-delete-bin-32.png");
    height: 32px;
    width: 32px;
    display: inline-block;
}
.sidebarChat__rename {
    margin-left: 20px;
    background-image: url("../images/icons8-edit-file-32.png");
    height: 32px;
    width: 32px;
    display: inline-block;
}
.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}